{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
  /* Додаємо відступ зверху для всього контенту, щоб він був під наваркою */
    main, .container.py-5, .page-header {
      margin-top: 80px; /* Підбери значення, щоб текст виліз з-під меню */
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link id="pagestyle" href="{% static 'assets/css/soft-design-system.css' %}" rel="stylesheet" />
    <title>{% block title %}Perfume Service{% endblock %}</title>
</head>
<body class="index-page">

    {% include "includes/navigation.html" %}

    <div class="container py-5">
        <div class="row">
            <div class="col-12" id="content">
                {% block content %}{% endblock %}

                {% block pagination %}
                  {% include "includes/pagination.html" %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
</body>
</html>