{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <h1>{{ perfumer.first_name }} {{ perfumer.last_name }}</h1>
    </div>
    <div class="col-sm-4 text-right">
      <a href="{% url 'perfume:perfumer-update' pk=perfumer.id %}" class="btn btn-secondary btn-sm">Update</a>
      <a href="{% url 'perfume:perfumer-delete' pk=perfumer.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
  </div>

  <hr>

  <p><strong>Experience years:</strong> {{ perfumer.experience_years }}</p>

  <p><strong>Список створених ароматів:</strong></p>
  <ul>
    {% for p in perfumer.perfume.all %}
      <li>{{ p.name }}</li>
    {% empty %}
      <li>Цей парфумер ще не створив жодного аромату.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'perfume:perfumers' %}" class="btn btn-outline-secondary">Назад до списку</a>
{% endblock %}